<header class="nav">
  <%if user_signed_in? %>
    <h3><b><%= current_user.first_name%></b>  <b><%=  current_user.last_name  %></b></h3>
    <h4><%= link_to "Log out", destroy_user_session_path,
                    data: {"turbo-method": :delete},
                    class: "btn btn-danger ml-3"%></h4>
  <% end %>
</header>
